@import url("https://fonts.googleapis.com/css2?family=Inter&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Pacifico&display=swap");
#signup-btn {
  background-color: transparent;
  color: silver;
  width: 150px;
  outline: none;
  border: 1px solid #949494;
  border-radius: 10px;
  padding: 5px 0px 5px 0px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -o-border-image: linear-gradient(56deg, blue, red, pink, yellow), 1;
     border-image: linear-gradient(56deg, blue, red, pink, yellow), 1;
  border-image-width: 10px;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

#signup-btn span {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #22e5ff;
  z-index: -1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#signup-btn:hover span {
  width: 100%;
}

#signup-btn:hover {
  color: #333;
  font-weight: 500;
  outline: #333;
}

#avatar-logo {
  -webkit-box-shadow: 0px 0px 10px #6cf5ff;
          box-shadow: 0px 0px 10px #6cf5ff;
}

#brand-name {
  color: #2cc7f7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

#pagesID .pageLink {
  margin: 0px 10px 0px 10px;
  font-size: 18px;
  position: relative;
  color: #a7a7a7;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
}

#pagesID .pageLink:focus, #pagesID .pageLink:active {
  color: #28cdff;
  font-weight: 500;
}

#pagesID .pageLink span {
  width: 0%;
  height: 3px;
  background-color: #28cdff;
  position: absolute;
  bottom: 0;
  left: 0%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#pagesID .pageLink:hover {
  color: white;
}

#pagesID .pageLink:hover span {
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

#footer_font {
  font-size: 16px;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .social a {
  margin-right: 5px;
  border: 2px solid #7c7c7c;
  padding: 5px;
  font-size: 25px;
  color: skyblue;
  margin: auto 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 50%;
}

.footer-dark .social a:hover {
  color: #333;
  background-color: #fde508;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.footer-dark .social a:active, .footer-dark .social a:focus {
  color: #333;
  background-color: #ffb429;
}

body {
  background-color: #ffffff;
}

#title_style {
  text-align: center;
}

#title_style h1 {
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 3px;
  color: #333;
  text-transform: uppercase;
}

#title_style p {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: #17bdff;
  text-transform: uppercase;
}

#category_image {
  width: 195px;
  height: auto;
}

#category_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #category_image {
    width: 225px;
  }
  #title_style h1 {
    font-size: 3.5rem;
  }
  #title_style p {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #category_image {
    width: 250px;
  }
  #title_style h1 {
    font-size: 3rem;
  }
  #title_style p {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  #category_image {
    width: 285px;
  }
  #title_style h1 {
    font-size: 2.7rem;
  }
  #title_style p {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 467px) and (max-width: 576px) {
  #category_image {
    width: 210px;
  }
  #title_style h1 {
    font-size: 2.4rem;
  }
  #title_style p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 467px) {
  #category_image {
    width: 180px;
  }
  #title_style h1 {
    font-size: 1.7rem;
  }
  #title_style p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 335px) {
  #category_image {
    width: 130px;
  }
  #title_style h1 {
    font-size: 1.4rem;
  }
  #title_style p {
    font-size: 0.7rem;
  }
}

#show_card {
  overflow: hidden;
}

#show_card:hover {
  -webkit-box-shadow: 0px 0px 20px lightgray;
          box-shadow: 0px 0px 20px lightgray;
}

#show_card #show_card_body {
  overflow: hidden;
  text-align: center;
}

#show_card #show_card_body .card_title {
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#show_card #show_card_body .card_text {
  letter-spacing: 1px;
  text-transform: capitalize;
}

#show_card:hover #show_card_image {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#showcards_title {
  background-color: #f3f3f3;
  padding: 30px 0px 30px 0px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  text-align: center;
  letter-spacing: 2px;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 2rem;
}

#show_card {
  width: 220px;
  height: 330px;
}

#show_card .card_title {
  font-size: 18px;
}

#show_card .card_text {
  font-size: 15px;
}

#card_image_waffer {
  width: 220px;
  height: 220px;
  overflow: hidden;
}

#show_card_image {
  width: 220px;
  height: 220px;
}

#cards_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  h1 {
    font-size: 3.6rem;
  }
  p {
    font-size: 1.7rem;
  }
  #show_card {
    width: 160px;
    height: 260px;
  }
  #show_card .card_title {
    font-size: 17px;
  }
  #show_card .card_text {
    font-size: 13px;
  }
  #card_image_waffer {
    width: 160px;
    height: 160px;
    overflow: hidden;
  }
  #show_card_image {
    width: 160px;
    height: 160px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  h1 {
    font-size: 2.7rem;
  }
  p {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 467px) and (max-width: 576px) {
  h1 {
    font-size: 2.4rem;
  }
  p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 467px) {
  h1 {
    font-size: 1.7rem;
  }
  p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 335px) {
  h1 {
    font-size: 1.4rem;
  }
  p {
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=main.css.map */