@import "../fonts/fonts";

@mixin font($size, $weight, $space, $color) {
  font-family: "Inter", sans-serif;
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $space;
  color: $color;
}

@mixin title-style($h1, $p) {
  h1 {
    font-size: $h1;
  }
  p {
    font-size: $p;
  }
}

// ========DESKTOP========= //

#title_style {
  text-align: center;
  h1 {
    @include font(4rem, 600, 3px, #333);
  }
  p {
    @include font(2rem, 500, 2px, rgb(23, 189, 255));
    text-transform: uppercase;
  }
}

#category_image {
  width: 195px;
  height: auto;
}

#category_images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

// ========DESKTOP========= //

// ========LAPTOP========= //

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #category_image {
    width: 225px;
  }

  #title_style {
    @include title-style(3.5rem, 1.7rem);
  }
}

// ========LAPTOP========= //

// ========TABLET========= //

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #category_image {
    width: 250px;
  }

  #title_style {
    @include title-style(3rem, 1.5rem);
  }
}

// ========TABLET========= //

// ========MOBILE - LARGE========= //

@media only screen and (min-width: 576px) and (max-width: 768px) {
  #category_image {
    width: 285px;
  }
  #title_style {
    @include title-style(2.7rem, 1.3rem);
  }
}

// ========MOBILE - LARGE========= //

// ========MOBILE - MEDIUM========= //

@media only screen and (min-width: 467px) and (max-width: 576px) {
  #category_image {
    width: 210px;
  }
  #title_style {
    @include title-style(2.4rem, 1.2rem);
  }
}
// ========MOBILE - MEDIUM========= //

// ========MOBILE - SMALL========= //

@media only screen and (max-width: 467px) {
  #category_image {
    width: 180px;
  }
  #title_style {
    @include title-style(1.7rem, 1rem);
  }
}
// ========MOBILE - SMALL========= //

// ========MOBILE - EXTRA SMALL========= //

@media only screen and (max-width: 335px) {
  #category_image {
    width: 130px;
  }
  #title_style {
    @include title-style(1.4rem, 0.7rem);
  }
}

// ========MOBILE - EXTRA SMALL========= //
